:root {
  --primary-cyan: #26c0ab;
  --btn-hover: #9fe8df;
  --very-dark-cyan: #00494d;
  --dark-grayish-cyan1: #5e7a7d;
  --dark-grayish-cyan2: #7f9c9f;
  --light-grayish-cyan1: #c5e4e7;
  --light-grayish-cyan2: #f4fafa;
  --white: #ffffff;
  --error: #e17052;
}

/* ===== GLOBAL ===== */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

body {
  background: var(--light-grayish-cyan1);
  font-family: "Space Mono", monospace;
}

input,
label {
  cursor: pointer;
}

/* ===== END OF GLOBAL ===== */
/* ===== GENERAL ===== */
.input--text {
  font-family: inherit;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 10vh;
  padding: 3em 0;
}

.sub-title {
  font-size: 0.9rem;

  margin-top: 2em;
}

.row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
/* ===== END OF GENERAL ===== */
/* ===== MAIN ===== */
.container {
  background: var(--white);
  border-radius: 1.5rem 1.5rem 0 0;

  padding: 1em;
}

/* form */
.form__control {
  position: relative;

  margin-bottom: 3em;
}

.label {
  font-size: 1rem;
  color: var(--dark-grayish-cyan1);

  display: block;
}

.sub-label {
  font-size: 0.8125rem;
  color: var(--dark-grayish-cyan2);
}

.label--dark {
  color: var(--dark-grayish-cyan1);
}

.label--light {
  color: var(--white);
}

.input--text {
  border: none;
  background: var(--light-grayish-cyan2);
  border-radius: 0.3125rem;
  font-family: inherit;
  text-align: right;
  font-size: 1.25rem;

  width: 100%;
  margin-top: 0.5em;
  padding: 0.25em 0.5em;
}

.input--text:focus {
  outline: none;
  border: 1px solid var(--primary-cyan);
}

.input--text::placeholder {
  font-size: 1.2rem;
  font-family: inherit;
}

.custom-tip__control {
  width: 30%;
  margin: 0;
}

#custom-tip {
  height: 100%;
  margin: 0;
}

.input--icon {
  position: absolute;
  top: 2.95rem;
  left: 0.75rem;
}

.form__tip--options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 1rem;

  width: 100%;
  margin-top: 0.5em;
}

.tip__label {
  background: var(--very-dark-cyan);
  border-radius: 0.3125rem;
  font-size: 1.5rem;
  color: var(--white);
  text-align: center;
  cursor: pointer;

  width: 30%;
  padding: 0.5em 0;

  transition: 0.2s ease;
}

.tip__label:focus,
.tip__label:hover {
  background-color: var(--btn-hover);
}

.tip__radio {
  display: none;
}

.tip__radio:checked + .tip__label {
  background-color: var(--primary-cyan);
}

/* total */
.total {
  background: var(--very-dark-cyan);
  border-radius: 1rem;

  padding: 1.5em 1em;
}

.total__tip {
  margin-bottom: 2em;
}

.dollar__amount {
  font-size: 2rem;
  color: var(--primary-cyan);
  letter-spacing: -0.67px;
  font-weight: 400;
}

.btn {
  background: var(--primary-cyan);
  border-radius: 0.3125rem;
  border: none;
  font-size: 1.25rem;
  color: var(--very-dark-cyan);
  font-family: inherit;
  cursor: pointer;

  width: 100%;
  padding: 0.5em;
  margin-top: 2em;

  transition: 0.2s ease;
}

.btn:focus,
.btn:hover {
  background: var(--btn-hover);
}
/* ===== END OF MAIN ===== */
/* ===== MODIFIERS ===== */
.error--text {
  display: none;
  position: absolute;
  right: 0;

  color: var(--error);
}

.error--text--reg {
  top: 0;
}

.error--text--custom {
  bottom: -2rem;
}

.error--border {
  border: 2px solid var(--error);
}
/* ===== END OF MODIFIERS ===== */
/* ===== MEDIA QUERIES ===== */
@media (min-width: 50em) {
  .container {
    width: 90%;

    margin: 0 auto;
    padding: 3em;
  }
}

@media (min-width: 87.5em) {
  body {
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100vw;
    min-height: 100vh;
    /* need margin between header and main so this brings the whole app back to center */
    margin-top: -2em;
  }

  header {
    margin-bottom: 2em;
    padding: 0;
  }

  .row {
    align-items: center;
  }

  .container {
    border-radius: 1.5rem;

    display: flex;
    justify-content: space-between;

    width: 57.5rem;
    padding: 2.25em;
  }

  .form {
    width: 46%;
  }

  .form__control {
    margin: 0;
  }

  .form__control + .form__control {
    margin-top: 3em;
  }

  .input--icon {
    top: 2.85rem;
  }

  .total {
    display: flex;
    flex-direction: column;

    width: 46%;
    padding: 1em 1em 1.5em 1em;
  }

  .total h1 {
    font-size: 3rem;
  }

  .btn {
    margin-top: auto;
  }

  .tip__label {
    padding: 0.15em 0;
  }
}
/* ===== END OF MEDIA QUERIES ===== */
